@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body{
  padding: 100px;
  font-size: 20px;
  font-family: 'Noto Sans JP',sans-serif;
  background-color: #b2c5b2;
  color: #1b2727;
}

#map {
  height: 600px;
  width: 900px;
}

i {
    font-size: 40px;
}